	<div class="header_page-nav" >
		<i class="fa fa-angle-left" aria-hidden="true"></i>Invoices
	</div>
	<div class="add_customer" ng-controller="dashboardController">
		<div class="add_customer-title"><h2>New Invoice</h2></div>
		<div class="add_customer-discription"><h3>Add customer and invoice info</h3></div>
		<div class="add_customer-set" >
			<div class="set_country">
				<label>Country</label>		
				<select ng-model="country" id="counry_id">Select Country
					<option value="Ukraine">Ukraine</option>
					<option value="Russian">Russian</option>
				</select>
			</div>
			<div  ng-model="company" class="set_company">
				<label>CVR Number / Company Name</label>
				<input ng-model="company" type="text" placeholder ="Searchs">
			</div>
			<button class="btn btn-success" ng-click="AddCustomer()"><i class="fa fa-plus" aria-hidden="true"></i>Add customer</button>
			<small> case yuo can't find them</small>
		</div>
		<div ng-controller="SaveController">
			<div class="customer_info" >
				<form  class="form-horizontal"   name="saveForm">
					<ul > 
				  	     	<li ng-repeat="CustomItem in dashboardArray">
				  	     		<label for="Field-{{coun='country'+ ($index + 1)}}">{{coun}}</label>

				  	     		<input type="text" id="Field-{{ $index + 1}}" name="FieldText-{{ $index + 1 }}" ng-model="savedata.country" placeholder="{{CustomItem.country}} -  {{CustomItem.company}}">
				  	     	</li>
  						<li>
  							<label>Invoice Number</label>
  							<input type="text" name="innumber" placeholder="Place Invoice Numbers" ng-model="savedata.invoice">
  						</li>
						<li>
							<label class="label-date">Invoice Data<input type="date" name="indate" ng-model="savedata.indate"></label>
							<label class="label-date">Dlivery Data<input type="date" name="deiverydate" ng-model="savedata.deiverydate"></label>
						</li>
						<li>
							<label>Order ref</label><input type="text" name="order-ref" placeholder="Order ref" ng-model="savedata.orderref">
						</li>
						<li>
							<label>Customer refs</label><input type="text"  name="customerrefs" placeholder="Place Customer ref" ng-model="savedata.customerrefs"></li>
						<li>
						<label>Account Number</label><input type="text" name="account" ng-model="savedata.account"placeholder="Place Account Number"></li>
						<li><label>Currency</label><select name="currency" id="currency_id" ng-model="savedata.currency">USD</select></li>

					</ul>
				</form>
			</div>
			<div>Ответ:</div>
			<p >{{response}} </p>
			<div class="fotter_button" >
				<button class="btn btn-success" type="submit" ng-click="save(savedata, saveForm)"><i class="fa fa-sort-desc" aria-hidden="true"></i>Save</button>
				<button class="btn btn-preview" ng-click="previewinvoice()"><i class="fa fa-eye" aria-hidden="true"></i>Preview</button>
				<button class="btn btn-delete" ng-click="deleteinvoice"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</button>
			</div>
		</div>
 	</div>